<ion-tabs>
  <ion-tab-bar slot="bottom" class="taller-tab-bar">
    <ion-tab-button tab="round-earth" href="/tabs/round-earth">
      <ion-icon name="moon"></ion-icon>
      <ion-label>Round<br>Earth/Moon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="flat-earth" href="/tabs/flat-earth">
      <ion-icon name="disc"></ion-icon>
      <ion-label>Flat<br>Earth/Moon</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="reference" href="/tabs/reference">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Reference</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="white-paper" href="/tabs/white-paper">
      <ion-icon name="document-text"></ion-icon>
      <ion-label>Perspectus</ion-label>
    </ion-tab-button>


  </ion-tab-bar>
</ion-tabs>